* {
    padding: 0;
    margin: 0;
    font-family: 'arial', '돋움';
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.divmar1 {
    height: 10px;
}
.divmar2 {
    height: 20px;
}
.divmar3 {
    height: 30px;
}
.hidden {
    display: none;
}
.overlay {
    position: absolute;
    top: 0px;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header {
    margin: 20px 0;
}
header .logo {
    width: 15%;
}
header .logo img {
    width: 100%;
}
.menu #gnb {
    list-style: none;
    line-height: 2.5;
}
.menu #gnb li {
    float: left;
    padding: 0 10px;
}
.menu #gnb li a {
    text-decoration: none;
}
.carousel-caption {
    padding-bottom: 100px;
}
.carousel-caption .caption-title {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1px;
}
.carousel-caption .caption-desc {
    font-size: 30px;
    letter-spacing: 2px;
}
.image-menu .quick {
    height: 265px;
}
.image-menu img {
    width: 100%;
    height: 100%;
}
.image-menu .image-menu-desc {
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: pointer;
}
.image-menu .image-menu-desc .text {
    font-size: 17px;
    color: white;
}
.image-menu .image-menu-desc #title, .image-menu .image-menu-desc #title2, .image-menu .image-menu-desc #title3 {
    margin-top: 50px;
}
.image-menu .image-menu-desc #desc, .image-menu .image-menu-desc #desc2, .image-menu .image-menu-desc #desc3 {
    margin-top: 70px;
}
.quick:hover .overlay {
    display: block!important;
}
.sitemap ul {
    list-style: none;
}
.sitemap> ul> li {
    float: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-right: none;
    width: 16.66%;
}
.sitemap> ul> li:last-child {
    border-right: 1px solid #ddd;
}
footer {
    margin: 20px 0;
}
.jumbotron {
    background-color: inherit;
}
.page-header {
    border-bottom: none;
}
.textcr {
    color: #d29737;
}
.philp {
    letter-spacing: 2px;
    font-size: 25px;
}
.servicedesc {
    margin-top: 70px;
}
.imgdiv1, .imgdiv2, .imgdiv3 {
    width: 200px;
    height: 200px;
}
.center {
    width: 100%;
}
.imgdiv1 {
    background-color: #e0ddd6;
    margin: 0;
    display: inline-block;
}
.imgdiv2 {
    background-color: #dfe6dd;
    margin: 0px 20px;
    display: inline-block;
}
.imgdiv3 {
    background-color: #dce1e2;
    margin: 0;
    display: inline-block;
}
.about-image-menu-h4 {
    border-top: 1px solid #ddd;
    padding: 15px 0px;
}
.about-image-menu .office {
    height: 200px;
}
.about-image-menu img {
    width: 100%;
    height: 100%;
}
.about-image-menu .image-menu-desc {
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: pointer;
    padding-left: 20px;
    color: white;
}
.about-image-menu .image-menu-desc #officetitle, .about-image-menu .image-menu-desc #officetitle2, .about-image-menu .image-menu-desc #officetitle3, .about-image-menu .image-menu-desc #officetitle4 {
    margin-top: 20px;
    font-size: 30px;
}
.about-image-menu .image-menu-desc #officeadd, .about-image-menu .image-menu-desc #officeadd2, .about-image-menu .image-menu-desc #officeadd3, .about-image-menu .image-menu-desc #officeadd4 {
    margin-top: 20px;
    font-size: 12px;
}
.about-image-menu .image-menu-desc #officeposi, .about-image-menu .image-menu-desc #officeposi2, .about-image-menu .image-menu-desc #officeposi3, .about-image-menu .image-menu-desc #officeposi4 {
    margin-top: 12px;
    font-size: 12px;
}
.about-image-menu .image-menu-desc #officeaddeng, .about-image-menu .image-menu-desc #officeaddeng2, .about-image-menu .image-menu-desc #officeaddeng3, .about-image-menu .image-menu-desc #officeaddeng4 {
    margin-top: 12px;
    font-size: 10px;
}
.office:hover .overlay {
    display: block!important;
}
