<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NodeJS Project Index</title>

    <link href="../js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/master.css" media="screen" title="no title">

    <script src="../js/jQuery-1.12.4/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/index.js">
    </script>
</head>

<body>

    <!-- container -->
    <div class="container">
        <!--form_login -->

        <div id="form_login" class="panel panel-default">

            <div class="panel-body">
                <div id="login_input_form">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="text" name="email" class="form-control" id="InputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="text" name="password" class="form-control" id="InputPassword" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember ME
                        </label>

                        <div class="link pull-right">
                            <a href="signup.html">Signup</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button id="btn_send_data" class="btn btn-primary btn-block">Login</button>


                </div>

            </div>
        </div>
        <!--form_login -->
    </div>
    <!-- container -->

    <script>
        $(index.init)
    </script>



    <script src="../js/jQuery-1.12.4/jquery-1.12.4.min.js"></script>
    <script src="../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>
