<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>NodeJS Project Signup</title>

        <link href="../js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/master.css" media="screen" title="no title">

        <script src="../js/jQuery-1.12.4/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="../js/signup.js">
        </script>
    </head>

    <body>
        <div class="container">
           <h1 class="index_title text-center"> Address Book Sign up</h1>
            <div id="form_signup" class="panel panel-default">


                <div class="panel-body">
                    <div class="form-group">
                        <label for="signupEmail">Email</label>
                        <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="signupPassword">Password</label>
                        <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password">
                    </div>

                    <button id="doSignup" class="btn btn-success btn-block">Sign Up</button>
                    <div>
                        <a href="doSignin">Sign In</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(signup.init)
        </script>

        <script src="../js/jQuery-1.12.4/jquery-1.12.4.min.js"></script>
        <script src="../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </body>

</html>
