/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css')

body {
  font-family: 'Nanum Gothic', sans-serif;
}

.main-color {
  color: #ff3366;
}